@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff;
  font-family: 'Noto Serif KR', Arial, Helvetica, sans-serif;
  @apply flex items-center justify-center min-h-screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
